# Supported Xcode Versions
# https://circleci.com/docs/using-macos
# 14.x - 15.1.0 - Sonoma
# 13.x - 14.3.1 - Ventura
# 12.x - 14.2.0 - Monterey

build_steps: &build_steps
  steps:
    - run:
       name: Homebrew config
       command: |
         brew --version
         brew remove $(brew list) || true
         rm -rf /usr/local/Homebrew/Library/Taps/ || true
         brew update
         brew --env
         brew config
    - checkout
    - run:
       name: Git config
       command: |
         git checkout $CIRCLE_BRANCH
         git remote set-url origin $CIRCLE_REPOSITORY_URL
         git fetch origin
         git config --global user.name "geo-ninja"
         git config --global user.email "qgisninja@gmail.com"
         repo=$(brew --repo $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME)
         mkdir -p $repo
         cp -a ./ $repo/
    - run:
       name: Update environment variables
       command: .circleci/set_env.sh
    - run:
       name: Before install
       command: .circleci/before_install.sh
    - run:
       name: Install dependencies
       command: .circleci/install.sh
    - run:
        name: Install changed formulae
        command: .circleci/script.sh
    - run:
        name: Build bottles
        no_output_timeout: 30m
        command: |
          .circleci/after_script.sh
          # fix if the formula does not change or if a file is updated/uploaded
          # echo "${CIRCLE_BUILD_NUM}" > /tmp/bottles/build-num-${CIRCLE_BUILD_NUM}.txt
          echo "FIX" > /tmp/bottles/fix.txt
    - persist_to_workspace:
        root: /tmp
        paths:
          - bottles/*
    - store_test_results:
        path: /tmp/bottles

workflow_filter: &filter
  filters:
    branches:
      ignore:
        - master
      only:
        - bottles
        - /^(?!pull\/).*$/

version: 2
jobs:
  update-homebrew:
    macos:
      xcode: "14.3.1"
    steps:
      - restore_cache:
          keys:
            - homebrew-v2-{{ .Branch }}-{{ .Revision }}
            - homebrew-v2-{{ .Branch }}-
            - homebrew-v2-
      - run:
          name: "Update homebrew"
          command: |
            brew update
      - save_cache:
          key: homebrew-v2-{{ .Branch }}-{{ .Revision }}
          paths:
            - /usr/local/Homebrew/Library/Taps/homebrew
            - /opt/homebrew/Library/Taps/homebrew

  ventura-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "14.3.1"

  monterey-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "14.2.0"

  sonoma-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "15.1.0"

  collect-bottles:
    macos:
      xcode: "14.3.1"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
         name: Update environment variables
         command: |
           .circleci/set_env.sh
      - run:
         name: Git config
         command: |
           git config --global user.name "geo-ninja"
           git config --global user.email "qgisninja@gmail.com"
      # fix for ERROR: The key you are authenticating with has been marked as read only.
      # is using the first key that is found, the one assigned in Checkout keys
      # not Add deploy key (Checkout keys)
      # Add deployment key fingerprint (SSH Permissions) for CircleCI to use for a push
      # ssh-keygen -l -E md5 -f key.pub
      - add_ssh_keys:
          fingerprints:
            - "${KEY_FINGERPRINT_OSGEO}"
            - "${KEY_FINGERPRINT}"
      - run:
          name: Avoid hosts unknown for github
          command: |
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

      - run:
          name: Commit for new bottles and upload to bintray
          command: .circleci/before_deploy.sh
      - store_artifacts:
          path: /tmp/workspace/bottles
          destination: bottles

workflows:
  version: 2
  build-deploy:
    jobs:
      - update-homebrew:
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
      - ventura-build:
          requires:
            - update-homebrew
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
      - monterey-build:
          requires:
            - update-homebrew
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
      - sonoma-build:
          requires:
            - update-homebrew
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
      - collect-bottles:
          requires:
            - ventura-build
            - monterey-build
            - sonoma-build
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
